*{padding: 0px; margin: 0px;}

#Chatbox_toggle{position: fixed; bottom: 0px; right: 0px; height: 2em; border: 1px solid black; background: white; padding: 10px 20px 10px 20px; z-index: 1001;}

#Chatbox_wrapper{position: fixed; bottom: 0px; right: 0px; height: 480px; width: 320px; border: 1px solid black; background: rgba(0, 0, 0, 0.4); z-index: 1000;}

#Chatbox_text{float: left; height:379px; width: 70%; overflow-y: scroll; overflow-x:hidden; word-wrap: break-word;}

#Chatbox_users{float: right; height: 360px; width: 30%; overflow-y: scroll; overflow-x:hidden;}

#Chatbox_field{float: left; height: 40px; width: 300px; padding: 10px; display: inline-block; background-color: white; border-top: 1px solid black; border-right: 1px solid black;}

#Chatbox_toggle_BG{position: fixed; bottom: 0px; right: 0px; background-color:#2f2f2f; width: 320px; height: 60px; border: 1px solid black;}

.Chatbox_text_BG {background-color: white; margin: 5px;}

.Chatbox_names {color: green;}

.Chatbox_name_title {color: white; float: left; background-color: #2f2f2f; width: 30%;}