#CBToggler{position: fixed; bottom: 0px; right: 0px; height: 2em; border: 1px solid black; background: white; padding: 10px 20px 10px 20px; z-index: 1001;}

#CBWrapper{position: fixed; bottom: 0px; right: 0px; height: 480px; width: 320px; border: 1px solid black; background: rgba(0, 0, 0, 0.4); z-index: 1000;}

#CBComments{float: left; height:379px; width: 70%; overflow-y: scroll; overflow-x:hidden; word-wrap: break-word;}

#CBUsers{float: right; height: 360px; width: 30%; overflow-y: scroll; overflow-x:hidden;}

#CBChatField{float: left; height: 40px; width: 300px; padding: 10px; display: inline-block; background-color: white; border-top: 1px solid black; border-right: 1px solid black;}

#CBTogglerBG{position: fixed; bottom: 0px; right: 0px; background-color:#2f2f2f; width: 320px; height: 60px; border: 1px solid black;}

.CBTextBG {background-color: white; margin: 5px;}

.CBNames {color: green;}

.CBNameHeader {color: white; float: left; background-color: #2f2f2f; width: 30%;}