* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #66BEED
}

textarea {
	resize: none;
}

#ContactBox {
	background-color: white;
	height: 500px;;
	width: 98%;
	margin: auto;
	margin-top: 10px;
}

#ContactBox * {
	margin: 5px;
}