* {
	margin: 0; 
	padding: 0;
	word-wrap: break-word;
}
body{
	background-color: #66BEED
}
section{
	 width: 98%;
	 margin: auto;
	 text-align: center;
	 background-color: #FFFFFF;
}
article{ 
	width: 98%;
	margin: auto;
	border: 1px solid #CCDBE0;
}


#mainsection h3 {
	border: 1px solid black; 
	margin: 5px; 
	text-align: center; 
	padding-top: 5px; 
	padding-bottom: 5px;
}
a{
	text-decoration: none; 
	color: black; 
	
}

#Chatboxframe {
	position: fixed; 
	bottom: 0; 
	right: 0; 
	z-index: 2000;
}
table{
	border-collapse: collapse;
	width: 100%;
}
thead{
	border-bottom: 1px solid #d1e0e0;
}
tr{
	border-bottom: 1px solid #d1e0e0;

}
thead tr{
	background-color: #F2F2F2;
}
th,td{
	height:50px;
	font-family: Verdana;
}

.name{
	width: 70%;

	text-align: left;
}
.date,.by{
	width: 15%;
}
#topbar{
	height:50px;
}
#search{
	float: left;
}
#search a img{
	height:30px;
	width: 30px;
	border:1px solid black;
}
#searchbar{
	height:20px;
	width: 100px;
}

.post{
	padding:10px;
	background-color: blue;
	color:white;
	float: right;
}
.post:hover{
	cursor: pointer;
}

#wrapper{
	margin-top: 10px;
}
#guide{
	width:20%;
	margin:auto;
	border-bottom:black 2px solid;
	border-left:black 2px solid;
	border-right:black 2px solid;
}