#switch_1 {background: linear-gradient( to bottom, rgba( 64, 128, 183, 0.4) 5%, rgba( 64, 128, 183, 0.2) 95%); box-shadow: 0px 0px 3px 0px rgba(20,20,20,0.75); padding: 20px; margin: 10px;}
#switch_2 {background: linear-gradient( to bottom, rgba( 64, 128, 183, 0.4) 5%, rgba( 64, 128, 183, 0.2) 95%); box-shadow: 0px 0px 3px 0px rgba(20,20,20,0.75); padding: 20px; margin: 10px; height: 600px;}

#content {width:948px; margin:auto; color: white;}

#content div {width: 100%; height: 750px; margin-left: auto; margin-right: auto; margin-top: 10px;}

#content div h1 {background-color: rgba(182, 172, 172, 0.5); box-shadow: 0px 0px 3px 0px rgba(20,20,20,0.75); width: 380px; padding: 20px; margin: 10px;}

#content div h1 a {font-weight: normal; color: white; text-decoration: none;}

::-webkit-input-placeholder {
    font-size: 18px;
	padding: 8px 10px;
}

:-moz-placeholder {
   font-size: 18px;
   padding: 8px 10px;
}

::-moz-placeholder {
   font-size: 18px;
   padding: 8px 10px;
}

:-ms-input-placeholder {
   font-size: 18px;
   padding: 8px 10px;
}

#left_aside {float:left; border: 1px solid #bdc7d8; padding: 5px; margin: 10px; width: 400px; border-radius: 5px; margin-bottom: 40px;}

input.textField {border: 1px solid #bdc7d8; padding: 8px 10px; width: 365px; border-radius: 5px; margin: 10px; height: 28px;}

#left_aside select {border: 1px solid #bdc7d8; padding: 8px 10px; width: 387px; border-radius: 5px; margin: 10px; height: 40px; font-size: 18px; padding: 8px 10px;}

#left_aside select option{font-size: 18px; padding: 8px 10px;}

.txtarea {resize: none; border: 1px solid #bdc7d8; padding: 5px; width: 375px; height: 200px; border-radius: 5px; margin: 10px;}

input.submit_btn {border: 1px solid #bdc7d8; padding: 8px 10px; border-radius: 5px; margin: 10px; width: 387px; height: 40px;}



#right_aside {float:right; border: 1px solid #bdc7d8; padding: 5px; margin: 10px; width: 400px; border-radius: 5px;}

#right_aside select {border: 1px solid #bdc7d8; padding: 8px 10px; width: 387px; border-radius: 5px; margin: 10px; height: 40px; font-size: 18px; padding: 8px 10px;}

#right_aside select option{font-size: 18px; padding: 8px 10px;}







@media screen and (max-width: 480px) {
	#content {float: left; width:320px;}
	#switch_1 {width: 260px;}
	#switch_2 {width:260px; height: 720px;}
	#content div h1 {width: 260px;}
	input.textField {width:200px;}
	input.submit_btn {width: 222px;}
	.txtarea {width:210px;}
	#left_aside select {width: 222px;}
	#left_aside {width: 200px; margin-bottom: 0px;}
	#right_aside {width: 200px; float: left; clear: both; margin-bottom: 50px;}
	#right_aside select {width: 222px;}
}