*{margin: 0; padding:0;}

#Login_field {width: 30%; margin: 10px; margin-left: auto; margin-right: auto;}

#Login_field fieldset{border: #67c1f5 1px solid; background: rgba(0, 0, 0, 0.4); border-radius: 3px; float: left;}

#Login_field fieldset legend h1 {color: #ffffff; font-size: 22px;}

input.textField {border: #67c1f5 1px solid; padding: 10px; width: 440px; border-radius: 3px; margin: 10px;}

input.btn {border: #67c1f5 1px solid; padding: 10px; width: 461.6px; border-radius: 3px; margin: 10px;}

#Login_confirmation a {color: white;}

#Login_confirmation {text-align: center;}

@media screen and (max-width: 480px) {
#Login_section{width:320px; float: left;}
input.textField {border: #67c1f5 1px solid; padding: 10px; width: 260px; border-radius: 3px; margin: 10px;}

input.btn {border: #67c1f5 1px solid; padding: 10px; width: 282px; border-radius: 3px; margin: 10px;}
}