button{
	float: right;
	margin: 10px;
}
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: black;

}
li{
	display: inline-block;
	list-style-type: none;
}
section{
	position: relative;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	

}
article{
	position: relative;
	width: 98%;
	margin-left: auto;
	margin-right: auto;

}
hr{
	border-top: 1px solid black;
}
.hrDot{
	border-top: 1px dashed #8c8b8b;
}
li{
	display: inline-block;
}

.menu_wrapper{
	text-align: center;

}
.menu_item:hover{
	cursor: pointer;
}
.menu_item{
	display: inline-block;
	height: 20px;
	width:200px;
	padding: 10px;
	margin:4px;
	box-shadow: 1px 1px 2px 2px #777777;
	text-align: center;
}
.item_container ul{
	text-align: center;
	display: none;
	
	
}

.item_container ul li{
	margin: 10px;
	width:21%;
	height: 100px;
	box-shadow: 1px 1px 2px 2px #777777;

	

}

