header{
	position: relative;
	
}
#navBar img{
	float: left;
	height:70px;
}
#navBar ul{
	top:0px;
	
	display: inline-block;
	background-color: #129690;

}
#navBar a{
	font-size: 20px;
	color:white;
	font-family: Arial;
	text-decoration: none;
}
#navBar>ul>li{
	padding: 20px;
	position: relative;

}
#navBar>ul>li:hover{
	background-color: #14C9C0;
}
#navBar>ul>li>ul{
	display:none;
	position: absolute;
	width: 180px;
	top: 100%;
	left:0%;
	z-index: 9;
}
#navBar>ul>li>ul>li{
	padding: 15px;
}
#navBar>ul>li:hover >ul{
	display: block;

}
#navBar>ul>li>ul>li:hover{
	background-color: #13EDE2;
}
#navBar>ul>li>ul>li:hover >ul{
	display: block;
	

}
#navBar>ul>li>ul>li>ul{
	text-align: left;
	position: absolute;
	display: none;
	left:100%;
	z-index: 9;
}
#navBar>ul>li>ul>li>ul>li{
	padding: 15px;

}
#navBar>ul>li>ul>li>ul>li:hover{
	background-color:  #13EDE2;
}
#row2{
	z-index: 10;
	background-color: red;
	left:20%;
}
#row3{
	
}
#row4{
	
}


