a{
	text-decoration: none; 
	color: black; 	
}
li{
	list-style-type: none;
	display:inline;
}
body{
	background-color: #66BEED;
}
#wrapper{
	background-color: #ffffff;
}
form{
	width:98%;
	margin: auto;
}
section{
	width: 97%;
	margin: auto;
	margin-top: 20px;
}
#title_box{
	width:500px;
	height: 30px;
	margin:10px;
}
#toolbox{
	background-color: #F2F2F2;
	padding: 10px;
}
textarea{
	width: 99.7%;

}
#title,textarea{
	font-size: 18px;
	font-family: Arial;
}
.submit:hover,button:hover{
	background-color: #C3D5DB;
}
.submit{
	padding: 10px;
	margin: 10px;
}
#input_area{
	border:1px solid #7F8587;
}
#submit{
	margin-left: 10px;

}
p>a{
	text-decoration: none;
	color: blue;
}
