*{
  margin: 0px;
  padding: 0px;
  font-family:Arial,Helvetica,Verdana,Sans-serif;
}

html, body {height:100%}

nav,section{
  width: 948px;
  margin:auto;
}
body{
  background-color: #393C61;


}

#content {min-height: calc(100% - 179px);}

header{
  background-color: #171A21;

  height: 90px;
}

nav img{
  width:300px;
  height: 80px;
}
nav ul{
  display: inline-block;
  float:right;
  right: 0px;
  top:0px;
  vertical-align: top;

}
nav ul li{
  list-style-type: none;
  display: inline-block;
  position:relative;
  top:10px;

}
nav ul li a:hover{
  background-color:#2A2B38;
}
nav ul li a{
  text-decoration: none;
  color:#B6B6BF;
  font-size:20px;
  padding: 10px;

}
/*-------------------------------------------------------------------------*/

footer{
	background-color:  #171A21;
}
footer div{
  width:948px;
  text-align: center;
  margin: auto;
}
footer div a:hover{
	color: #FFFFFF;
}
footer div a{
  color:#67c1f5;
	display: inline-block;
	font-size: 15px;
	margin-right:15px;
	margin-left: 15px;
}
footer div hr{
	margin:5px;
}
footer div p{
	margin-left: 15px;
	font-size: 15px;
  color:white;

}
footer{
  clear:both;
}

/* potrait */
@media screen
and (max-width: 1024px)
and (orientation: portrait) {
	#content {width: 768px;}
	header nav a {float: left;}
	header nav ul {float: right;}
	nav,section{width: 768px;}
	footer div {width: 768px;}
}

@media screen
and (max-width: 360px)
and (orientation: portrait) {
	#content {width: 360px;}
	header nav a {float: left;}
	header nav ul {float: left; clear: both; background-color: #171A21; width: 360px; text-align: center;}
	nav,section{width: 360;}
	footer div {width: 360px;}
}

@media screen
and (max-width: 320px)
and (orientation: portrait) {
	#content {width: 320px;}
	header nav a {float: left;}
	header nav ul {float: left; clear: both; background-color: #171A21; width: 320px; text-align: center;}
	nav,section{width: 320px;}
	footer div {width: 320px;}
}

/* landscape */
@media screen
and (max-width: 768px)
and (orientation: landscape) {
	#content {width: 768px;}
	header nav a {float: left;}
	header nav ul {float: right;}
	nav,section{width: 768px;}
	footer div {width: 768px;}
}

@media screen
and (max-width: 640px)
and (orientation: landscape) {
	#content {width: 640px;}
	header nav a {float: left;}
	header nav ul {float: left; clear: both; background-color: #171A21; width: 640px; text-align: center;}
	nav,section{width: 640px;}
	footer div {width: 640px;}
}

@media screen
and (max-width: 480px)
and (orientation: landscape) {
	#content {width: 480px;}
	header nav a {float: left;}
	header nav ul {float: left; clear: both; background-color: #171A21; width: 480px; text-align: center;}
	nav,section{width: 480px;}
	footer div {width: 480px;}
}