* {
	margin: 0; 
	padding: 0;
	word-wrap: break-word;
}
body{
	background-color: #66BEED
}
section{
	 width: 98%;
	 margin: auto;
	 text-align: center;
	 background-color: #FFFFFF;
}
article{ 
	width: 98%;
	margin: auto;
	border: 1px solid #CCDBE0;
}


#mainsection h3 {
	border: 1px solid black; 
	margin: 5px; 
	text-align: center; 
	padding-top: 5px; 
	padding-bottom: 5px;
}
a{
	text-decoration: none; 
	color: black; 
	font-weight: bold;
}
a:visited{
	color: purple;
}
#Chatboxframe {
	position: fixed; 
	bottom: 0; 
	right: 0; 
	z-index: 2000;
}
/* nav */
nav ul{
	float:right;
	display: inline-table;
}
nav ul li{
	
}
nav ul li ul{
	display: none;
}
nav ul li:hover >ul{
	display: block;
}
