*{
margin: 0;
padding: 0;
font-size:100%;
line-height:1;
}
body{
	background-color: #66BEED
}
#content{
	background-color: #ffffff;

}
a{
	text-decoration: none; 
	color: black; 	
}
li{
	list-style-type: none;
	display:inline;
}
h1{
	text-align: center;
	color:blue;
	font-size: 40px;
	font-family: Calibri;
	text-decoration: underline;
	padding-bottom: 10px;
}
#comments{
	padding-top:50px;
}
.box{
	margin: auto;
	outline:solid green 2px;
	height:500px;
	width:75%;

}
section{
	margin-top:20px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
.namey{
	text-decoration: underline
}
span>p{
	display: inline-block;
}
div p{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom:10px;
}
#content>p{
	height:30px;
}
#content>p>a{
	color: blue;
}
hr{
	outline: solid black 1px;
}
#nmspic {
	float: right;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}
p{
	overflow-wrap: normal;
}
.sentence{
	float: left;
}
#button{
	float:right;
}
.commentComment{
	width:80%;
	border-radius:25px;
}
.replyButton{
	width:10%;
}
.date{
	float:right;
}
form{
	padding:10px;
}
.replybutton{
	padding:10px;
}
