*{
	margin:0;
	padding:0;
}
#container{
	width: 1000px;
	overflow:hidden;
	margin:50px auto;
	background: white;
}
body{
	background: url('dark_geometric/dark_geometric.png');
}
.photoBanner>img{
	height: 273px; 
	width:761px;
}
.photobanner{
 	margin-bottom: 80px;
}
#image1{
	
